<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}./assets/images/min_logo.png">



  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  {% if jekyll.environment == 'production' and site.google_analytics %}
    {% include google-analytics.html %}
  {% endif %}

  <!--<noscript>-->

      <!--{% for path in site.data.assets.css %}-->

        <!--{%- if path contains '://' -%}-->
          <!--{%- assign href = path -%}-->
        <!--{%- else -%}-->
          <!--{%- assign href = path | relative_url -%}-->
        <!--{%- endif -%}-->

        <!--<link rel="stylesheet" href="{{ href }}">-->
      <!--{% endfor %}-->


  <!--</noscript>-->

  <noscript>
    <link rel="stylesheet" href="./assets/css/main.css">
  </noscript>
</head>
